<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>ajs</title>
</head>
<body>
    <div class="a">
        
        <a href="" ng-click="show()">user list</a>
    </div>
    <div class="container">
        <form id="signup" class="form">
            <div class="form-field">
                <label for="name">Name:</label>
                <input type="text" id="name" ng-model="user.name" placeholder="Enter Name" required >
        </div>
        <div class="form-field">
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="user.email" placeholder="Enter Email" required>
        </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="user.password" placeholder="Enter Pas word" required>
        </div>
        <div class="form-field">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" ng-model="user.phone" placeholder="Enter Phone" required>
        </div>

        <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>




